# NOTE: Wasp requires a running PostgreSQL. Configure your DATABASE_URL below.
# Example: DATABASE_URL=postgresql://user:password@localhost:5432/doctoria
DATABASE_URL=

# Set this as a comma-separated list of emails you want to give admin privileges to upon registration.
ADMIN_EMAILS=admin@doctoria.com

# Get your sendgrid api key at https://app.sendgrid.com/settings/api_keys.
SENDGRID_API_KEY=test...
